<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
<link href="css/dashboard.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="css/charts/apexcharts.css">
  <title>General Settings</title>
</head>

<body style="background:#f4f6fd;">
<header class="navbar navbar-dark sticky-top bg-primary flex-md-nowrap p-0">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#"><img src="images/logo.png"/></a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="mx-3 border border-light d-flex align-items-center rounded-pill px-3 bg-light me-auto">
  <i class="bi bi-search"></i>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  </span>
   <a href="#"><i class="bi bi-bell fa-2x text-white"></i></a>
  <div class="navbar-nav">
 
    <div class="nav-item text-nowrap">
      <a class="nav-link px-3" href="#">Sign out</a>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block sidebar collapse animate__backInUp animate__animated">
      <div class="position-sticky pt-3">

      <div class="leftnav">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="bi bi-house-door"></i>
              Dashboard
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-bag-check"></i>
              Product Sale
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-bezier"></i>
              Franchise Referral
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-arrow-left-right"></i>
              Product Referrals
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-people"></i>
              Customers
            </a>
          </li>

 
        </ul>
              <h4 class="p-3 fw-bold text-uppercase">Account Settings</h4>
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">
              <i class="bi bi-person"></i>
              My Profile
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-key"></i>
              Change Password
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-view-list"></i>
              Preferences 
            </a>
          </li>
         
 
        </ul>
              <h4 class="p-3 fw-bold text-uppercase">Reports</h4>
        <ul class="nav flex-column">
          
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-bar-chart"></i>
              Generate Reports
            </a>
          </li>
          
                    <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-heart"></i>
              Saved Reports
            </a>
          </li>

 
        </ul>
              <h4 class="p-3 fw-bold text-uppercase">Support</h4>
        <ul class="nav flex-column">


          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-question-circle"></i>
              FAQ
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-send"></i>
              Send Query
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="bi bi-info-circle"></i>
              Help Guide
            </a>
          </li>
         
 
        </ul>
        
</div>

       


      </div>
    </nav>

    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    
    <div class="profile-box animate__animated animate__zoomInDown">
<div class="row g-4 position-relative">
 <div class="col">
 <div class="p-2 text-center">
  <h3 class="text-white mb-1 mt-5">General Settings</h3>
  <p class="text-white-75 mb-1">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. </p>
   </div>
   </div>
                           
 </div>
</div>
      
<div class="row position-relative  px-3" style="margin-top:-80px;">
<div class="col-lg-12">
 <div class="card animate__animated animate__bounceInRight border-0 shadow-sm mb-3 mt-xxl-n5">
<div class="card-body p-5">
 <h5 class="card-title mb-4">Bank Detail</h5>
<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>                                
 
<form>
<div class="row">
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Beneficiary Name">
  <label for="floatingInput">Beneficiary Name</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Bank Name">
  <label for="floatingInput">Bank Name</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Bank Branch">
  <label for="floatingInput">Bank Branch</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="Bank Account Number">
  <label for="floatingInput">Bank Account Number</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" id="floatingInput" placeholder="IFSC Code">
  <label for="floatingInput">IFSC Code</label>
</div>
</div>
<div class="col-lg-12 mt-3">
 <div class="hstack gap-2 justify-content-end">
 <button type="submit" class="btn btn-primary rounded-pill px-3">Submit Detail</button>
   <button type="button" class="btn btn-soft-success">Cancel</button>
   </div>
  </div>
</div>




</form>
  </div>
</div>
<div class="card animate__animated animate__bounceInRight border-0 shadow-sm mb-3 mt-xxl-n5">
<div class="card-body p-5">
 <h5 class="card-title mb-4">Change Password</h5>
<p class="text-muted">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>                                
 
<form>
<div class="row">
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="text" class="form-control" placeholder="" value="info@codespur.com" readonly>

</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingInput" placeholder="Old Password">
  <label for="floatingInput">Old Password</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingInput" placeholder="New Password">
  <label for="floatingInput">New Password</label>
</div>
</div>
<div class="col-lg-6">
<div class="form-floating mb-3">
  <input type="password" class="form-control" id="floatingInput" placeholder="Confirm Password">
  <label for="floatingInput">Confirm Password</label>
</div>
</div>

<div class="col-lg-12 mt-3">
 <div class="hstack gap-2 justify-content-end">
 <button type="submit" class="btn btn-primary rounded-pill px-3">Update Password</button>
   <button type="button" class="btn btn-soft-success">Cancel</button>
   </div>
  </div>
</div>




</form>
  </div>
</div>
</div>
</div>

 
  
    </main>
  </div>
</div>



  <!-- Optional JavaScript -->
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a57a87ec82.js" crossorigin="anonymous"></script>
  <script src="js/wow.min.js"></script>





<script src="js/charts/apexcharts.min.js"></script>
<script src="js/chart-apex.js"></script>

  <script src="js/app.js"></script>
  <script>

    $(document).ready(function () {
      new WOW().init();
    });
  </script>

  </body>
</body>

</html>