<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
  <title>Login</title>
</head>

<body>

<div class="loginsection">
<a class="brand-logo" href="#">
<img class="img-fluid" src="images/logo.png"/>
      <!--<h2 class="brand-text text-dark ms-1">Algozini</h2>-->
    </a>
    
<div class="d-none d-lg-flex col-lg-6 col-xl-8 align-items-center p-5 maxleft justify-content-center">
<div>
<h1 class="text-white">Login Your Account</h1>
<p class="text-white">Lorem ipsum dolor sit amet, consectetuer adipiscing elit.<br> Aenean commodo ligula eget dolor.</p>
<div class="w-100 d-lg-flex align-items-center justify-content-center">
<img class="img-fluid" src="images/login2.png"/>
</div>
</div>
</div>    
<div class="d-flex col-lg-6 align-items-center auth-bg px-2 p-lg-5 col-xl-4 col-sm-12 justify-content-center">
<div>
<h2 class="fw-bold">Login</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>

<form>
<div class="form-floating mb-3">
  <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
  <label for="floatingInput">Email address</label>
</div>
<div class="form-floating">
  <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
  <label for="floatingPassword">Password</label>
</div>
  <div class="mb-3 form-check mt-4">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Remember me</label>
  </div>
 <div class="d-grid gap-3 mx-5"> 
  <button type="submit" class="btn btn-primary rounded-pill px-5 py-3 text-uppercase">Login Now!</button>
</div>
</form>
<!--<div class="orsection"><span>OR</span></div>-->
<div class="d-grid gap-3 mx-5">
<!--<a href="#" class="btn btn-outline-primary btn-block rounded-pill py-3"><i class="bi bi-facebook"></i> Login with google</a>-->
<!--<a href="#" class="btn btn-outline-dark btn-block rounded-pill py-3"><img class="me-2" src="images/google-logo.png"/> Login with Google</a>-->
</div>
  <p class="text-center mt-5">Dont't have an account <a href="register.html" class="btn-link decoration">Register Now!</a></p>
</div>
</div> 
</div>


  <!-- Optional JavaScript -->
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a57a87ec82.js" crossorigin="anonymous"></script>
  <script src="js/wow.min.js"></script>


  <script>

    $(document).ready(function () {
      new WOW().init();
    });
  </script>

</body>

</html>