<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/animate.min.css">
  <!-- <link rel="stylesheet" href="css/font-awesome.min.css"> -->
  <link rel="stylesheet" href="css/template.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet"> 
  <title>Register Franchise</title>
</head>

<body class="rfsection">
<style>
.btn-primary{
background:linear-gradient(266deg, rgba(20,57,124,1) 0%, rgba(34,34,195,1) 100%);
border:none;	
	}
</style>
<div class="d-block">
<div class="text-center my-5">
<img class="img-fluid" src="images/logo.png"/>
</div>
    
<div class="container">
<div class="row">
<div class=" col-lg-8 mx-auto">
<div class="bggrade shadow p-5" style="border-radius:15px;">

<h2 class="fw-bold mb-2 text-center text-white">Become Our Franchise</h2>
<p class="text-center text-white">Fill the following details to submit your request to be our franchise.</p>
<hr>
<form>
<h4 class="fw-bold mb-3 text-white">Basic Detail</h4>
<div class="row">
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-person fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="text" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Firm Name</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-envelope fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="email" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Firm Email</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-phone fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="text" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Firm Mobile</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-shield-lock fa-2x text-primary"></i>
</div>
<div class="form-floating">
  <input type="password" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Password</label>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-box-arrow-in-down fa-2x text-primary"></i>
</div>
<div class="form-floating">
  <input type="file" class="form-control  border-0 fileinput" id="floatingInput" placeholder="">

</div>
</div>
</div>

</div>

<h4 class="fw-bold my-4 text-white">Firm Address</h4>
<div class="row">
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border rounded px-3">
<div class="me-2">
<i class="bi bi-flag fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <select class="form-select border-0 pt-2" id="inputGroupSelect01">
    <option selected>Country</option>
    <option value="1">India</option>
    <option value="2">USA</option>
  </select>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-tags fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <select class="form-select border-0 pt-2" id="inputGroupSelect01">
    <option selected>Select Stats</option>
    <option value="1">Rajasthan</option>
    <option value="2">Haryana</option>
    <option value="2">uttar pradesh</option>
    <option value="2">Madhya Pradesh</option>
  </select>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-geo fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="text" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Enter City</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-journal-bookmark fa-2x text-primary"></i>
</div>
<div class="form-floating">
<textarea class="form-control border-0" placeholder="Leave a comment here" id="floatingTextarea" style="resize:none;"></textarea>
  <label for="floatingTextarea">Enter Address</label>
</div>
</div>
</div>


</div>

<h4 class="fw-bold my-4 text-white">Contact Person</h4>
<div class="row">
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border rounded px-3">
<div class="me-2">
<i class="bi bi-person fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="text" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Person Name</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-envelope fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="email" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Person Email</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-phone fa-2x text-primary"></i>
</div>
<div class="flex-fill">
<div class="form-floating">
  <input type="text" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Person Mobile</label>
</div>
</div>
</div>
</div>
<div class="col-lg-6">
<div class=" mb-3 d-flex align-items-center border-0 rounded px-3">
<div class="me-2">
<i class="bi bi-person-plus fa-2x text-primary"></i>
</div>
<div class="form-floating">
  <input type="password" class="form-control  border-0" id="floatingInput" placeholder="">
  <label for="floatingInput">Person Designation</label>
</div>
</div>
</div>


</div>
 <div class=" mx-5 mt-3 text-center"> 
  <button type="submit" class="btn btn-warning rounded-pill px-5 py-3 text-uppercase">Register Now!</button>
</div>
</form>


  <p class="text-center mt-5 text-white">Already have an account <a href="login.html" class="btn-link decoration" style="text-decoration:underline;">Login Now!</a></p>
</div>
</div>
</div>
</div>    
 
 <div class="container my-5">
 <div class="row justify-content-center">
 <div class="col-sm-4">
 <div class="m-2 text-center">
 <img class="img-fluid" src="images/personalization.svg"/>
 <h3 class="text-white mt-3">Personalization</h3>
 <p class="text-white">Dynamically deliver relevant page experiences to every ad and audience.</p>
 </div>
 </div>
 <div class="col-sm-4">
 <div class="m-2 text-center">
 <img class="img-fluid" src="images/personalization.svg"/>
 <h3 class="text-white mt-3">Personalization</h3>
 <p class="text-white">Dynamically deliver relevant page experiences to every ad and audience.</p>
 </div>
 </div>
 <div class="col-sm-4">
 <div class="m-2 text-center">
 <img class="img-fluid" src="images/personalization.svg"/>
 <h3 class="text-white mt-3">Personalization</h3>
 <p class="text-white">Dynamically deliver relevant page experiences to every ad and audience.</p>
 </div>
 </div>
 </div>
 </div>
 
 <div class="text-center text-white my-4">Copyright 2022 Algozini | All Rights Reserved</div>
</div>


  <!-- Optional JavaScript -->
  <script src="js/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
  <script src="js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/a57a87ec82.js" crossorigin="anonymous"></script>
  <script src="js/wow.min.js"></script>


  <script>

    $(document).ready(function () {
      new WOW().init();
    });
  </script>

</body>

</html>